In [7]:
pip install pandas numpy scikit-learn matplotlib seaborn joblib

Requirement already satisfied: pandas in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (2.3.0)
Requirement already satisfied: numpy in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (2.3.1)
Requirement already satisfied: scikit-learn in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (1.7.0)
Requirement already satisfied: matplotlib in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (3.10.5)
Requirement already satisfied: seaborn in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (0.13.2)
Requirement already satisfied: joblib in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: scipy>=1.8.0 in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (from scikit-learn) (1.16.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (from matplotlib) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: six>=1.5 in c:\users\skril\desktop\escuela\2. extracci√≥n de conocimientos de bd  dr\examen\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#cargar
df = pd.read_csv("examen2024parc2.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   lstat    333 non-null    float64
 1   ID       333 non-null    int64
 2   chas     333 non-null    int64
 3   rad      333 non-null    int64
 4   ptratio  333 non-null    float64
 5   black    333 non-null    float64
 6   tax      333 non-null    int64
 7   pool     0 non-null      float64
 8   cat_dis  294 non-null    object
 9   crim     307 non-null    float64
 10  cat_age  333 non-null    object
 11  medv     333 non-null    float64
 12  zn       333 non-null    float64
 13  nox      333 non-null    float64
 14  rm       333 non-null    float64
 15  indus    320 non-null    float64
 16  palux    333 non-null    float64
 17  garb     333 non-null    float64
dtypes: float64(12), int64(4), object(2)
memory usage: 47.0+ KB

In [9]:
df.head()

,lstat,ID,chas,rad,ptratio,black,tax,pool,cat_dis,crim,cat_age,medv,zn,nox,rm,indus,palux,garb
0,4.98,1,0,1,15.3,396.90,296,NaN,Lejos,0.00632,Casi nueva,24.0,18.0,0.538,6.575,2.31,-4.898979,0.374540
1,9.14,2,0,2,17.8,396.90,242,NaN,Lejos,0.02731,Antigua,21.6,0.0,0.469,6.421,7.07,-4.647580,0.950714
2,2.94,4,0,3,18.7,394.63,222,NaN,Muy lejos,0.03237,Casi nueva,33.4,0.0,0.458,6.998,2.18,-5.779273,0.731994
3,5.33,5,0,3,18.7,396.90,222,NaN,Muy lejos,0.06905,Casi nueva,36.2,0.0,0.458,7.147,2.18,-6.016644,0.598658
4,12.43,7,0,5,15.2,395.60,311,NaN,Muy lejos,0.08829,Casi nueva,22.9,12.5,0.524,6.012,7.87,-4.785394,0.156019

In [10]:
dfcop = df.copy()
dfcop.head()

,lstat,ID,chas,rad,ptratio,black,tax,pool,cat_dis,crim,cat_age,medv,zn,nox,rm,indus,palux,garb
0,4.98,1,0,1,15.3,396.90,296,NaN,Lejos,0.00632,Casi nueva,24.0,18.0,0.538,6.575,2.31,-4.898979,0.374540
1,9.14,2,0,2,17.8,396.90,242,NaN,Lejos,0.02731,Antigua,21.6,0.0,0.469,6.421,7.07,-4.647580,0.950714
2,2.94,4,0,3,18.7,394.63,222,NaN,Muy lejos,0.03237,Casi nueva,33.4,0.0,0.458,6.998,2.18,-5.779273,0.731994
3,5.33,5,0,3,18.7,396.90,222,NaN,Muy lejos,0.06905,Casi nueva,36.2,0.0,0.458,7.147,2.18,-6.016644,0.598658
4,12.43,7,0,5,15.2,395.60,311,NaN,Muy lejos,0.08829,Casi nueva,22.9,12.5,0.524,6.012,7.87,-4.785394,0.156019

In [11]:
print("üè∑Ô∏è Columnas categ√≥ricas:")
print(df.select_dtypes(include=['object', 'category']).columns)

üè∑Ô∏è Columnas categ√≥ricas:
Index(['cat_dis', 'cat_age'], dtype='object')

In [12]:
dfcop = dfcop.drop('ID', axis=1)
dfcop = dfcop.drop('chas', axis=1)
dfcop = dfcop.drop('pool', axis=1)
dfcop.head()

,lstat,rad,ptratio,black,tax,cat_dis,crim,cat_age,medv,zn,nox,rm,indus,palux,garb
0,4.98,1,15.3,396.90,296,Lejos,0.00632,Casi nueva,24.0,18.0,0.538,6.575,2.31,-4.898979,0.374540
1,9.14,2,17.8,396.90,242,Lejos,0.02731,Antigua,21.6,0.0,0.469,6.421,7.07,-4.647580,0.950714
2,2.94,3,18.7,394.63,222,Muy lejos,0.03237,Casi nueva,33.4,0.0,0.458,6.998,2.18,-5.779273,0.731994
3,5.33,3,18.7,396.90,222,Muy lejos,0.06905,Casi nueva,36.2,0.0,0.458,7.147,2.18,-6.016644,0.598658
4,12.43,5,15.2,395.60,311,Muy lejos,0.08829,Casi nueva,22.9,12.5,0.524,6.012,7.87,-4.785394,0.156019

In [13]:
dfcop.isnull().sum()

lstat       0
rad         0
ptratio     0
black       0
tax         0
cat_dis    39
crim       26
cat_age     0
medv        0
zn          0
nox         0
rm          0
indus      13
palux       0
garb        0
dtype: int64

In [14]:
dfcop['cat_dis'].value_counts()

cat_dis
Muy cerca    79
Cerca        75
Muy lejos    72
Lejos        68
Name: count, dtype: int64

In [15]:
moda = dfcop['cat_dis'].mode()[0]  
# Calcula el valor m√°s frecuente en la columna 'cat_dis' y lo guarda en la variable 'moda'.

dfcop['cat_dis'].fillna(moda, inplace=True)  
# Rellena todos los valores nulos de 'cat_dis' con la moda encontrada, modificando el DataFrame directamente.

C:\Users\skril\AppData\Local\Temp\ipykernel_2308\1644054312.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfcop['cat_dis'].fillna(moda, inplace=True)

In [16]:
dfcop.isnull().sum()

lstat       0
rad         0
ptratio     0
black       0
tax         0
cat_dis     0
crim       26
cat_age     0
medv        0
zn          0
nox         0
rm          0
indus      13
palux       0
garb        0
dtype: int64

In [17]:
# Rellenar valores nulos en columnas num√©ricas con la media
dfcop['crim'].fillna(dfcop['crim'].mean(), inplace=True)
dfcop['indus'].fillna(dfcop['indus'].mean(), inplace=True)

dfcop.isnull().sum()

C:\Users\skril\AppData\Local\Temp\ipykernel_2308\1218390488.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfcop['crim'].fillna(dfcop['crim'].mean(), inplace=True)
C:\Users\skril\AppData\Local\Temp\ipykernel_2308\1218390488.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfcop['indus'].fillna(dfcop['indus'].mean(), inplace=True)

lstat      0
rad        0
ptratio    0
black      0
tax        0
cat_dis    0
crim       0
cat_age    0
medv       0
zn         0
nox        0
rm         0
indus      0
palux      0
garb       0
dtype: int64

In [18]:
print("cat_dis:",dfcop['cat_dis'].unique())
print("cat_age:",dfcop['cat_age'].unique())

cat_dis: ['Lejos' 'Muy lejos' 'Muy cerca' 'Cerca']
cat_age: ['Casi nueva' 'Antigua' 'Muy antigua' 'Nueva']

In [19]:
map_cat_dis = {
    'Muy lejos': 0,
    'Lejos': 1,
    'Cerca': 2,
    'Muy cerca': 3
}

dfcop['cat_dis'] = dfcop['cat_dis'].map(map_cat_dis)

In [20]:
map_cat_age = {
    'Muy antigua': 0,
    'Antigua': 1,
    'Casi nueva': 2,
    'Nueva': 3
}

dfcop['cat_age'] = dfcop['cat_age'].map(map_cat_age)

In [21]:
dfcop[['cat_dis', 'cat_age']].head()

   cat_dis  cat_age
0        1        2
1        1        1
2        0        2
3        0        2
4        0        2

In [22]:
# Muestra las versiones original y transformada, lado a lado
comparacion = pd.DataFrame({
    'cat_dis_original': df['cat_dis'],
    'cat_dis_numerica': dfcop['cat_dis'],
    'cat_age_original': df['cat_age'],
    'cat_age_numerica': dfcop['cat_age']
})

print(comparacion.head(10))

  cat_dis_original  cat_dis_numerica cat_age_original  cat_age_numerica
0            Lejos                 1       Casi nueva                 2
1            Lejos                 1          Antigua                 1
2        Muy lejos                 0       Casi nueva                 2
3        Muy lejos                 0       Casi nueva                 2
4        Muy lejos                 0       Casi nueva                 2
5        Muy lejos                 0      Muy antigua                 0
6        Muy lejos                 0          Antigua                 1
7        Muy lejos                 0            Nueva                 3
8            Lejos                 1       Casi nueva                 2
9            Lejos                 1          Antigua                 1

In [23]:
X = dfcop.drop('medv', axis=1)
y = dfcop['medv']
print("X shape:", X.shape)
print("y shape:", y.shape)

X shape: (333, 14)
y shape: (333,)

In [24]:
print("üì¶ Columnas de X (Variables independientes):")
print(X.columns.tolist())
print("üì¶ Columnas de y (Variables independientes):")
print(y.name)

üì¶ Columnas de X (Variables independientes):
['lstat', 'rad', 'ptratio', 'black', 'tax', 'cat_dis', 'crim', 'cat_age', 'zn', 'nox', 'rm', 'indus', 'palux', 'garb']
üì¶ Columnas de y (Variables independientes):
medv

In [25]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
# RFE con regresi√≥n lineal
model = LinearRegression()
rfe = RFE(model, n_features_to_select=6)
rfe_fit = rfe.fit(X, y)

# Resultados RFE
rfe_result = pd.DataFrame({
    'Feature': X.columns,
    'Ranking': rfe.ranking_,
    'Selected': rfe.support_
})

# √Årbol de decisi√≥n 
tree = DecisionTreeRegressor()
tree.fit(X, y)
tree_importance = pd.DataFrame({
    'Feature': X.columns,
    'Importance': tree.feature_importances_
})

print(rfe_result.sort_values('Ranking'))
print("\nImportancia √Årbol de Decisi√≥n:\n", tree_importance.sort_values(by='Importance', ascending=False))

    Feature  Ranking  Selected
0     lstat        1      True
7   cat_age        1      True
6      crim        1      True
10       rm        1      True
12    palux        1      True
13     garb        1      True
5   cat_dis        2     False
2   ptratio        3     False
8        zn        4     False
9       nox        5     False
3     black        6     False
11    indus        7     False
1       rad        8     False
4       tax        9     False

Importancia √Årbol de Decisi√≥n:
     Feature    Importance
12    palux  9.997028e-01
10       rm  7.525421e-05
3     black  6.442521e-05
9       nox  3.016390e-05
13     garb  2.700647e-05
2   ptratio  2.644912e-05
5   cat_dis  2.519212e-05
6      crim  1.904855e-05
0     lstat  1.139998e-05
1       rad  7.438922e-06
11    indus  4.820088e-06
4       tax  4.265300e-06
7   cat_age  1.163264e-06
8        zn  5.368909e-07

In [26]:
from sklearn.model_selection import train_test_split
# Dividir el conjunto de datos en entrenamiento y prueba
selected_features = ['lstat', 'cat_age', 'crim', 'rm', 'palux', 'garb']
X_train, X_test, y_train, y_test = train_test_split(X[selected_features], y, test_size=0.2, random_state=42)

In [27]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_absolute_error

# 1. Instanciar el modelo
rf = RandomForestRegressor(random_state=42)

# 2. Entrenar el modelo
rf.fit(X_train, y_train)

# 3. Predecir sobre el conjunto de prueba
y_pred = rf.predict(X_test)

# 4. Evaluar el modelo
print("R2 score:", r2_score(y_test, y_pred))
print("MAE:", mean_absolute_error(y_test, y_pred))

R2 score: 0.9989875269138027
MAE: 0.13300000000000328

In [28]:
from sklearn.model_selection import cross_val_score
# Evaluaci√≥n con validaci√≥n cruzada
scores = cross_val_score(rf, X_train, y_train, cv=5, scoring='r2')
print("R2 cross-validation scores:", scores)
print("R2 mean:", scores.mean())

R2 cross-validation scores: [0.99912433 0.99945836 0.99740962 0.99733743 0.99955779]
R2 mean: 0.9985775061997126

In [29]:
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import r2_score, mean_absolute_error

# 1. Escalar los datos
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# 2. Crear y entrenar la red neuronal con m√°s iteraciones
mlp = MLPRegressor(random_state=42, max_iter=3000)
mlp.fit(X_train_scaled, y_train)

# 3. Predecir y evaluar
y_pred_mlp = mlp.predict(X_test_scaled)

print("Red Neuronal (MLPRegressor) con escalado:")
print("R2 score:", r2_score(y_test, y_pred_mlp))
print("MAE:", mean_absolute_error(y_test, y_pred_mlp))

Red Neuronal (MLPRegressor) con escalado:
R2 score: 0.9988961404591348
MAE: 0.23909478178350144

In [30]:
import pandas as pd

# Crear un DataFrame comparando predicci√≥n vs real
results = pd.DataFrame({
    'Real': y_test.values,
    'Predicci√≥n': y_pred_mlp
})

print(results.head(10))  # Muestra las primeras 10 comparaciones

   Real  Predicci√≥n
0  24.7   24.933050
1  19.6   19.430607
2  19.8   19.973066
3  27.9   27.992542
4  23.9   23.687150
5  13.5   12.999342
6  11.7   11.357181
7  30.7   30.935150
8  17.8   17.546430
9  27.1   26.955899

In [31]:
import pandas as pd

# DataFrame con los features seleccionados y valores ya num√©ricos
nuevo_dato = pd.DataFrame([{
    'lstat': 4.98,
    'cat_age': 2,    # 2 seg√∫n tu mapping
    'crim': 0.00632,
    'rm': 6.575,
    'palux': -4.898979485566356,
    'garb': 0.3745401188473625
}])

# Escalar
nuevo_dato_esc = scaler.transform(nuevo_dato)

# Predecir
prediccion = mlp.predict(nuevo_dato_esc)
print("Predicci√≥n del modelo para el nuevo dato:", prediccion[0])

Predicci√≥n del modelo para el nuevo dato: 23.506580349514678

In [32]:
import joblib

# Guardar el modelo
joblib.dump(mlp, 'modelo_mlp.pkl')

# Guardar el scaler
joblib.dump(scaler, 'scaler.pkl')

['scaler.pkl']